@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
}

nav {
    background-color: #111;
    color: white;
    padding: 20px 50px;
}

.navTop {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

.search {
    display: flex;
    align-items: center;
    background-color: gray;
    padding: 10px 20px;
    border-radius: 10px;
}

.searchInput {
    background-color: transparent;
    border: none;
}

.searchInput::placeholder {
    color: lightgray;
}

.limmitedOffer {
    font-size: 20px;
    border-bottom: 2px solid green;
    cursor: pointer;
}

.navBottom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuItem {
    margin-right: 50px;
    cursor: pointer;
    color: lightgray;
    font-weight: 400;
}
.active{
    color: white;
}
.slider {
    background: url("https://images.unsplash.com/photo-1604147495798-57beb5d6af73?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
    overflow: hidden;
}

.sliderWrapper {
    display: flex;
    width: 500vw;
    transition: all 1.5s ease-in-out;
}

.sliderItem {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.sliderImg {
    z-index: 1;
}

.sliderBg {
    width: 750px;
    height: 750px;
    border-radius: 50%;
    position: absolute;
    background-color: yellow;
}

.sliderTitle {
    position: absolute;
    top: 10%;
    right: 10%;
    color: white;
    font-size: 60px;
    font-weight: 900;
    text-align: center;
    z-index: 1;
}

.sliderPrice {
    position: absolute;
    top: 10%;
    left: 10%;
    color: white;
    font-size: 60px;
    font-weight: 300;
    text-align: center;
    border: 1px solid gray;
    z-index: 1;
}

.buyButton {
    position: absolute;
    top: 50%;
    right: 10%;
    color: white;
    font-size: 30px;
    font-weight: 900;
    border: 1px solid gray;
    z-index: 1;
    cursor: pointer;
    border-color: black;
    background-color: black;
}

.buyButton:hover {
    color: black;
    background-color: white;
}

.sliderItem:nth-child(1) .sliderBg {
    background-color: #369e62;
}

.sliderItem:nth-child(2) .sliderBg {
    background-color: rebeccapurple;
}

.sliderItem:nth-child(3) .sliderBg {
    background-color: teal;
}

.sliderItem:nth-child(4) .sliderBg {
    background-color: cornflowerblue;
}

.sliderItem:nth-child(5) .sliderBg {
    background-color: rgb(124, 115, 80);
}

.sliderItem:nth-child(1) .sliderPrice {
    color: #369e62;
}

.sliderItem:nth-child(2) .sliderPrice {
    color: rebeccapurple;
}

.sliderItem:nth-child(3) .sliderPrice {
    color: teal;
}

.sliderItem:nth-child(4) .sliderPrice {
    color: cornflowerblue;
}

.sliderItem:nth-child(5) .sliderPrice {
    color: rgb(124, 115, 80);
}

.features{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px; 
}

.feature{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;

}

.featureIcon{
width: 50px;
height: 50px;
}

.featureTitle{
font-size: 20px;
font-weight: 600;
margin: 20px;
}

.featureDesc{
color: gray;
width: 50%;
height: 100px;
}

.product{
    height: 100vh;
    background-color: whitesmoke;
    position: relative;
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
}

.payment{
    width: 500px;
    height: 500px;
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 20px 50px;
    display: none;
    flex-direction: column;
    box-shadow: 6px 6px 31px 0px rgba(148,141,141,0.6);
-webkit-box-shadow: 6px 6px 31px 0px rgba(148,141,141,0.6);
-moz-box-shadow: 6px 6px 31px 0px rgba(148,141,141,0.6);
}

.payTitle{
    font-size: 20px;
    color: rgb(168, 168, 168);
}

label{
    font-size: 14px;
    font-weight: 300;
}

.payInput{
    padding: 10px;
    margin: 10px 0px;
    border: none;
    border-bottom: 1px solid gray;
}

.payInput:placeholder{
    color: rgb(163, 161, 161);
}

.cardIcons{
    display: flex;
}

.cardIcon{
    margin-right: 10px;
}
.cardIcon{
    display: flex;
    justify-content: space-between;
}

.sm{
    width: 30%;
}

.payButton{
    position: absolute;
    height: 40px;
    bottom: -40;
    width: 100%;
    left: 0;
    box-shadow: 6px 6px 31px 0px rgba(148,141,141,0.6);
    -webkit-box-shadow: 6px 6px 31px 0px rgba(148,141,141,0.6);
    -moz-box-shadow: 6px 6px 31px 0px rgba(148,141,141,0.6);
    background-color: #369e62;
    color: white;
    border: none;
    cursor: pointer;
    
}

.close{
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: lightgray;
    color: white;
    top: 10;
    right: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    padding: 2px;
}

.productImg{
    width: 50%;
}

.productDetails{
    position: absolute;
    top: 10%;
    right: 0;
    width: 40%;
    padding: 50px;
}

.productTitle{
    font-size: 75px;
    font-weight: 900;
}

.productDesc{
    font-size: 24px;
    color: gray;
}

.colors, .sizes{
    display: flex;
    margin-bottom: 20px;
}

.color{
    width: 32px;
    height: 32px;
    border-radius: 5px;
    background-color: black;
    margin: 10px;
    cursor: pointer;
}

.color:last-child{
    background-color: darkblue;
}

.size{
    padding: 5px 20px;
    border: 1px solid black;
    margin-right: 10px;
    cursor: pointer;
    font-size: 20px;
}
.clickable{
    background-color: black;
    color: white;
}
.productButton{
    float: right;
    padding: 10px 20px;
    background-color: black;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.productButton:hover{
    background-color: white;
    color: black;
}
