@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
}

nav {
    background-color: #111;
    color: white;
    padding: 20px 50px;
}

.navTop {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

.search {
    display: flex;
    align-items: center;
    background-color: gray;
    padding: 10px 20px;
    border-radius: 10px;
}

.searchInput {
    background-color: transparent;
    border: none;
}

.searchInput::placeholder {
    color: lightgray;
}

.limmitedOffer {
    font-size: 20px;
    border-bottom: 2px solid green;
    cursor: pointer;
}

.navBottom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuItem {
    margin-right: 50px;
    cursor: pointer;
    color: lightgray;
    font-weight: 400;
}

.slider {
    background: url("https://images.unsplash.com/photo-1604147495798-57beb5d6af73?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
    overflow: hidden;
}

.sliderWrapper {
    display: flex;
    width: 500vw;
    transition: all 1.5s ease-in-out;
}

.sliderItem {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.sliderImg {
    z-index: 1;
}

.sliderBg {
    width: 750px;
    height: 750px;
    border-radius: 50%;
    position: absolute;
    background-color: yellow;
}

.sliderTitle {
    position: absolute;
    top: 10%;
    right: 10%;
    color: white;
    font-size: 60px;
    font-weight: 900;
    text-align: center;
    z-index: 1;
}

.sliderPrice {
    position: absolute;
    top: 10%;
    left: 10%;
    color: white;
    font-size: 60px;
    font-weight: 300;
    text-align: center;
    border: 1px solid gray;
    z-index: 1;
}

.buyButton {
    position: absolute;
    top: 50%;
    right: 10%;
    color: white;
    font-size: 30px;
    font-weight: 900;
    border: 1px solid gray;
    z-index: 1;
    cursor: pointer;
    border-color: black;
    background-color: black;
}

.buyButton:hover {
    color: black;
    background-color: white;
}

.sliderItem:nth-child(1) .sliderBg {
    background-color: #369e62;
}

.sliderItem:nth-child(2) .sliderBg {
    background-color: rebeccapurple;
}

.sliderItem:nth-child(3) .sliderBg {
    background-color: teal;
}

.sliderItem:nth-child(4) .sliderBg {
    background-color: cornflowerblue;
}

.sliderItem:nth-child(5) .sliderBg {
    background-color: rgb(124, 115, 80);
}

.sliderItem:nth-child(1) .sliderPrice {
    color: #369e62;
}

.sliderItem:nth-child(2) .sliderPrice {
    color: rebeccapurple;
}

.sliderItem:nth-child(3) .sliderPrice {
    color: teal;
}

.sliderItem:nth-child(4) .sliderPrice {
    color: cornflowerblue;
}

.sliderItem:nth-child(5) .sliderPrice {
    color: rgb(124, 115, 80);
}